*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding-top: 17px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todos-wrapper {
  margin-top: 17px;
  margin-bottom: 2.5rem;
}

.todo {
  width: 800px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  margin-bottom: 30px;
}

.input-todo {
  width: 600px;
  border: 2px solid #000000;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
}

input {
  width: 450px;
  padding: 0.8em;
}

input:focus {
  outline: none;
}

button {
  padding: 0.8em;
  cursor: pointer;
}

input {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 1px solid #828691;
}

.add-button {
  transition: outline 0.1s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;
  background: #232222;
  border-radius: 224px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  padding: 14px 46px;
  border: none;
  margin-bottom: 33px;
}

.add-button:hover {
  color: #000;
  background: #fff;
  outline: 2px solid #000;
}

.delete-button {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  background-image: url(./assets/remove.svg);
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}

li {
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  transition: all 0.3s ease-out;
}

li:last-child {
  margin-bottom: 0px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #cf972e;
  letter-spacing: 0.2rem;
}